FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
TSN_RECEIVER_COLLECTION=tsn_receiver_work
TSN_RECEIVER_NODE_API_KEY=
TSN_RECEIVER_CRANKER_API_KEY=
TSN_NODE_URL=http://127.0.0.1:8000
TSN_RECEIVER_PUBLIC_URL=http://127.0.0.1:8010
